/* Reset and Box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    background: linear-gradient(45deg, #ff7e5f, #feb47b);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative; /* Ensure absolute positioning works for the links */
}

/* Container for the entire page */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Login Box Styling */
.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

/* Heading */
h2 {
    color: #333;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

/* Textbox Styles for Inputs */
.textbox {
    margin-bottom: 20px;
}

.textbox input {
    width: 100%;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.textbox input:focus {
    border-color: #ff7e5f;
}

/* Button Container */
.button-container {
    display: flex;
    justify-content: space-between;
}

/* Button Styles */
button {
    width: 93%;
    padding: 11px;
    border: none;
    border-radius: 11px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.login-btn {
    background-color: #ff7e5f;
    color: #fff;
}

.register-btn {
    background-color: #feb47b;
    color: #fff;
}

/* Button Hover Effect */
button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

button:focus {
    outline: none;
}

button:active {
    transform: scale(1);
}

/* Login Options in the Top Right Corner */
.login-options {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
}

.login-option {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #ff7e5f;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.login-option:hover {
    background-color: #feb47b;
    transform: scale(1.1);
}
